:root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    --backgroundcolor: #E5E4E2;
    --maxHeight: 100vh;
    --maxWidth: 100vw;
    --bookwidth: max(250px,20%);
    --bookheight: 90%;
}
nav{
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 10vh;
    box-shadow: 0px 5px 5px grey;
    padding: 0px 25px;
}
body{
    background-color: var(--backgroundcolor);
    padding: 0px;
    margin: 0px;
}
#container{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: var(--maxWidth);
    align-items: center;
    gap: 10px;
}
#addbook{
    width: 100px;
    border: solid 2px darkgray;
    background-color: white;
    border-radius: 10px;
}
#addbook:hover{
    background-color: darkgray;
    border: solid 2px white ;
}
#bookscontainer{
    width: var(--maxWidth);
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
#bookscontainer > div{
    height: var(--bookheight);
    width: var(--bookwidth);
    background-color: white;
    border-radius: 15px;
}