:root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    --backgroundcolor: #E5E4E2;
    --charcoal: #36454F;
    --maxHeight: 100vh;
    --maxWidth: 100vw;
    --bookwidth: max(250px,20%);
    --bookheight: 90%;
    --formwidth: 250px;
}
nav{
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 10vh;
    box-shadow: 0px 5px 5px grey;
    padding: 0px 25px;
}
body{
    background-color: var(--backgroundcolor);
    padding: 0px;
    margin: 0px;
}
#container{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: var(--maxWidth);
    align-items: center;
    gap: 10px;
}
button[type="submit"]{
    width: 100px;
    border: solid 2px darkgray;
    background-color: white;
    border-radius: 10px;
    display: block;
}
#addbook:hover{
    background-color: darkgray;
    border: solid 2px white ;
}
#newbook{
    border-radius: 15px;
    color: var(--charcoal);
    border: dashed 2px grey;
}
#newbook:active{
    border: dashed 2px var(--charcoal);
}
#formcontainer form{
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    margin-left: calc(-1 * var(--formwidth) * 0.5);
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: dashed 2px grey;
    border-radius: 15px;
    padding: 20px;
}
#formcontainer input{
    display: block;
}
#formcontainer label{
    font-weight: 500;
}
#bookscontainer{
    width: var(--maxWidth);
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
#bookscontainer > div{
    height: var(--bookheight);
    width: var(--bookwidth);
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
#bookscontainer > div > div{
    border-bottom: solid 1px var(--charcoal);
    font-weight: 500;
    width: 80%;
    text-align: center;
    color: var(--charcoal);
}
.bookbutton{
    width: 35%;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    height: 30px;
}
.bookbutton:active{
    border: solid 1px var(--charcoal);
}